<% if flash[:notice] %>
  <p style="color :green;"><%= flash[:notice] %></p>
<% end %>

<% if flash[:notice2] %>
  <p style="color :green;"><%= flash[:notice2] %></p>
<% end %>


<span>Title: </span>
<span><%= @book.title %></span>
<br>
<span>Body: </span>
<span><%= @book.body %></span>
<br>
 <span><%= link_to "Edit", edit_book_path(@book) %></span> <span> | </span>
 <!--なんでここが@bookなの。講義資料見て直しただけか。ここにIdは-->
 <a href="https://172ad8794d6749a7a274dff00c661a08.vfs.cloud9.us-east-1.amazonaws.com/books" ref="">Back</a>