<% if flash[:notice] %>
  <p style="color :green;"><%= flash[:notice] %></p>
<% end %>

<% if flash[:notice2] %>
  <p style="color :green;"><%= flash[:notice2] %></p>
<% end %>


<span>Title: </span>
<span><%= @book.title %></span>
<br>
<span>Body: </span>
<span><%= @book.body %></span>
<br>
 <span><%= link_to "Edit", edit_book_path(@book) %></span> <span> | </span>
 <!--なんでここが@bookなの。講義資料見て直しただけか。ここにIdは-->
<span><%= link_to "Back", books_path %></span>